.board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border: 1px solid black;
  gap: 2px;
  padding: 2px;
  background-color: yellow;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  border: 1px solid grey;
  background: lightyellow;
  cursor: pointer;
}

.myBoard {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  width: 900px;
  height: 900px;
  border: 1px solid black;
  gap: 2px;
  padding: 2px;
  background-color: #f7c566;
}
.myCell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border: 1px solid #333;
  cursor: pointer;
}
