body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.myBoard {
  width: 600px;
  height: 600px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  border: 1px solid black;
  gap: 2px;
  padding: 2px;
  background-color: #f7c566;
}
.myCell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border: 1px solid #333;
  cursor: pointer;
}
